<div class="container-lg"><h2 class="featuredProductHeading h2Responsive " style="text-align: center; margin-top: 30px; color: rgb(45, 42, 41); text-transform: uppercase;">
  Featured Products
</h2> <div class="featuredProduct"><div class="featuredProduct_box"><a href="/home-loan" class=""><div class="featuredProduct_box_inner"><div class="icon icon_1"></div> <div class="heading"><h1>Home  Loan</h1></div> <div class="short_detail"><p>
            IDLC Home Loan gives you the confidence to purchase own space to live in freedom.
          </p></div> <button><a href="/home-loan" class="">Learn More</a></button></div></a></div> <div class="featuredProduct_box"><a href="/sme-loan" class=""><div class="featuredProduct_box_inner"><div class="icon icon_2"></div> <div class="heading"><h1>SME Loan</h1></div> <div class="short_detail"><p>
            IDLC SME Loan features convenient repayment to reduce the burden on your finances.
          </p></div> <button><a href="/sme-loan" class="">Learn More</a></button></div></a></div> <div class="featuredProduct_box"><a href="/term-deposit" class=""><div class="featuredProduct_box_inner"><div class="icon icon_3"></div> <div class="heading"><h1>Deposits</h1></div> <div class="short_detail"><p>
            Choose IDLC, and enjoy a life free of worry, the life that you and your family deserve!
          </p></div> <button><a href="/term-deposit" class="">Learn More</a></button></div></a></div> <div class="featuredProduct_box"><a href="/corporate-loan" class=""><div class="featuredProduct_box_inner"><div class="icon icon_4"></div> <div class="heading"><h1>Corporate Loan</h1></div> <div class="short_detail"><p>
            Make your corporate endeavor a success with our innovative and comprehensive solutions
          </p></div> <button><a href="/term-deposit" class="">Learn More</a></button></div></a></div></div></div>
